body {
  font-family: Inter, Arial, sans-serif;
  background: #f7f8fa;
}

.table-wrapper {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"]{
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  min-height: 10%;
}

button {
  background: #007bff;
  color: white;
  padding: 10px 15%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.MuiTextField-root {
  font-size: "14px";
  min-height: "36px";
}
